 {% load static %}
 {% load i18n%}
 {% include 'protfolio/includes/head.html'%}

		{% comment %} <div id="fh5co-main"> {% endcomment %}
			<div class="fh5co-more-contact">
				<div class="fh5co-narrow-content">
					<div class="row">
						<div class="col-md-4">
							<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="icon-globe"></i>
								</div>
								<div class="fh5co-text">
									<p><a href="email://">amirsalarghaffari71@gmail.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="icon-map"></i>
								</div>
								<div class="fh5co-text">
									<p>Parand Faze 2 </p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="fh5co-text">
									<p style="direction: ltr"><a href="tel://">+98 912 3990 306</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft" style="direction: ltr">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}
					{% endif %}
				<div class="row">
					<div class="col-md-4">
						<h2>{%translate "Get in touch"%}</h2>
					</div>
					
				</div>
				<!-- Replace your current <form> section with this: -->
					<form method="post">
						{% csrf_token %}
						
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											{{ form.name }}
											{% if form.name.errors %}
												<div class="text-danger">{{ form.name.errors }}</div>
											{% endif %}
										</div>
										<div class="form-group">
											{{ form.email }}
											{% if form.email.errors %}
												<div class="text-danger">{{ form.email.errors }}</div>
											{% endif %}
										</div>
										<div class="form-group">
											{{ form.phone }}
											{% if form.phone.errors %}
												<div class="text-danger">{{ form.phone.errors }}</div>
											{% endif %}
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											{{ form.message }}
											{% if form.message.errors %}
												<div class="text-danger">{{ form.message.errors }}</div>
											{% endif %}
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary btn-md" value="{% translate 'Send Message' %}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
			</div>
				
		</div>
	</div>

{% include 'protfolio/includes/footer.html'%}

