 {% load static %}
 {% include 'protfolio/includes/head.html'%}

		{% comment %} <div id="fh5co-main"> {% endcomment %}
			<div class="fh5co-narrow-content">
				<div class="row row-bottom-padded-md">
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive " src="{%static '/protfolio/images/projects/'%}{{project.image_basename}}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="fh5co-heading">{{project.title}}</h2>
						<p>{{project.description}}</p>
						<p>{{project.detailed_description}}</p>
						<p>
							{% if project.github_url %}
							<a href="{{project.github_url}}" class="lead"><i class="fa-brands fa-github"></i>   Git Page</a>
							{% endif %}
						</br>
							{% if project.live_url %}
							<a href="{{project.live_url}}" class="lead"><i class="fa-solid fa-globe"></i>   Online Page</a>
							{% endif %}
						</p>
					</div>
				</div>
			</div>

			<div class="fh5co-narrow-content">
					<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Skills Used</h2>
					
					<div class="row">
						{% for project_skill in project_skills %}
						<div class="col-md-6">
							<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
								<div class="fh5co-icon">
									<i class="{{project_skill.skill.icon}}"></i>
								</div>
								<div class="fh5co-text">
									<h3>{{project_skill.skill.name}}</h3>
									<p><strong>Importance:</strong> {{project_skill.get_importance_display}}</p>
									<p><strong>Used:</strong> {{project_skill.usage_description}}</p>
								</div>
							</div>
						</div>
						
						{% endfor %}
					</div>
					
				</div>
		
			
		</div>
	</div>


{% include 'protfolio/includes/footer.html'%}

