{% load static %} {% load i18n %} {% include 'protfolio/includes/head.html'%}
<link
  rel="stylesheet"
  href="{% static 'protfolio/css/project/animate/style-animate-img.css'%}"
/>
<div class="header-animated">
  <a href="{%url 'animate_project'%}" id="screweffect">Animated</a>
  <h1>-Images</h1>
</div>
<div class="img-holder-animate">
  <!-- 1 -->
  <section>
    <div>
      <h1>Image number 1</h1>
      <div>
        <div class="soldierlook">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/soldir.png"
            alt=""
          />
          <div class="caption">
            <h2>this is soldir look</h2>
            <p>write anything you like over here</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 2 -->
  <section>
    <div>
      <h1>Image number 2</h1>
      <div>
        <div class="soldierlook2">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/soldir.png"
            alt=""
          />
          <div class="caption">
            <h2>this is soldir look</h2>
            <p>write anything you like over here</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 3 -->
  <section>
    <div>
      <h1>Image number 3</h1>
      <div>
        <div class="soldierlook3">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/soldir.png"
            alt=""
          />
          <div class="caption">
            <h2>this is soldir look</h2>
            <p>write anything you like over here</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 4 -->
  <section>
    <div>
      <h1>Image number 4</h1>
      <div>
        <div class="dearchan">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/Pingdear.jpg"
            alt=""
          />
          <div class="caption">
            <h2>this is Pink dear</h2>
            <p>write anything you like over here</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 5 -->
  <section>
    <div>
      <h1>Image number 5</h1>
      <div>
        <div class="amazingsea">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/amazingSea.png"
            alt=""
          />
          <div class="caption">
            <h2>Amzing Sea</h2>
            <p>write anything you like over here</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 6 -->
  <section>
    <div>
      <h1>Image number 6</h1>
      <div>
        <div class="gatheringimgeffect">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/navar.jpg"
            alt=""
          />
          <div class="caption">
            <h2>Do you like this</h2>
            <p>
              write anything you like over here write anything you like over
              here write anything you like over here write anything you like
              over here write anything you like over here write anything you
              like over here
            </p>
            <a href="#" class="crosseffect">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 7 -->

  <section>
    <div>
      <h1>Image number 7</h1>
      <div>
        <div class="gatherinrrotating">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/navar.jpg"
            alt=""
          />
          <div class="caption">
            <h2>Do you like this</h2>
            <p>
              write anything you like over here write anything you like over
              here write anything you like over here write anything you like
              over here write anything you like over here write anything you
              like over here
            </p>
            <a href="#" class="crosseffect">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 8 -->

  <section>
    <div>
      <h1>Image number 8</h1>
      <div>
        <div class="popupcadeffect">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/navar.jpg"
            alt=""
          />
          <div class="caption">
            <h2>Do you like this</h2>
            <p>
              write anything you like over here write anything you like over
              here write anything you like over here write anything you like
              over here write anything you like over here write anything you
              like over here
            </p>
            <a href="#" class="crosseffect">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 9 -->
  <section>
    <div>
      <h1>Image number 9</h1>
      <div>
        <div class="falloncard">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/navar.jpg"
            alt=""
          />
          <div class="caption">
            <h2>Do you like this</h2>
            <p>
              write anything you like over here write anything you like over
              here write anything you like over here write anything you like
              over here write anything you like over here write anything you
              like over here
            </p>
            <a href="#" class="crosseffect">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 10 -->

  <section>
    <div>
      <h1>Image number 10</h1>
      <div>
        <div class="flipdropeffect">
          <img
            src="{% static '/protfolio/images/projects/animate/animate-img' %}/assets/navar.jpg"
            alt=""
          />
          <div class="caption">
            <h2>Do you like this</h2>
            <p>
              write anything you like over here write anything you like over
              here write anything you like over here write anything you like
              over here write anything you like over here write anything you
              like over here
            </p>
            <a href="#" class="crosseffect">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% include 'protfolio/includes/footer.html'%}
