{% load static %}
{% load i18n %}
{% include 'protfolio/includes/head.html'%}
<link
  rel="stylesheet"
  href="{% static 'protfolio/css/project/animate/style-animate-card.css'%}"
/>
<div class="header-animated">
  <a href="{%url 'animate_project'%}" id="screweffect">Animated</a>
  <h1>-Cards</h1>
</div>
<!-- -3 -->
<section>
    <h2>Animated Card number 1</h2>
    
    <div class="cardholder">
      <div class="bg-focuse">
        
        <h1>Focuse</h1>
        <div class="imgbox"><img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/bg-focus..jpg" alt="" /></div>
        
        
      
    </div>
  </section>
  <!-- -2 -->
  <section>
    <h2>Animated Card number 2</h2>
    
    <div class="cardholder">
      <div class="open-close-words">
        <div class="body"></div>
        <ul>
          <li>clo</li>
          <li><span>s</span><span>e</span></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- -1 -->
  <section>
    <h2>Animated Card number 3</h2>
    
    <div class="cardholder">
      <div class="cardborderhovereffect">
        <div class="body"></div>
        <h1>css <span>border</span> hover effect</h1>
      </div>
    </div>
  </section>
  <!-- 0 -->
  <section>
    <h2>Animated Card number 4</h2>
    
    <div class="cardholder">
      <div class="smokey">
        <ul>
          <li text-data="S">S</li>
          <li text-data="M">M</li>
          <li text-data="O">O</li>
          <li text-data="K">K</li>
          <li text-data="Y">Y</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- 1 -->
  <section>
    <h2>Animated Card number 5</h2>
    
    <div class="cardsimplecolorfiller">
      <div>
        <h2>طراحی کارت</h2>
        <p>
          برای داشتن یک کارت ویزت باکیفیت، باید به نحوه ذخیره‌سازی فایل طراحی
          شده و میزان کیفیت نهایی آن و همچنین استفاده از دستگاه‌‌های چاپ مجهز
          توجه داشت. همچنین در برخی موارد، نیاز است که بر روی کارت، یادداشتی
          صورت گیرد؛ بنابراین جنس کاغذ و روکشی که برای آن انتخاب می‌شود باید
          بتواند این نیاز را فراهم سازد.
        </p>
        <a href="#">ادامه مطلب</a>
      </div>
    </div>
  </section>
  <!-- 2 -->
  <section>
    <h2>Animated Card number 6</h2>
    
    <div class="cardunderimage">
      <div>
        <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/angel.jpg" alt="" />
        <!--  should use this inted <div class="content"></div> -->
        <h2>طراحی کارت</h2>
        <p>
          برای داشتن یک کارت ویزت باکیفیت، باید به نحوه ذخیره‌سازی فایل طراحی
          شده و میزان کیفیت نهایی آن و همچنین استفاده از دستگاه‌‌های چاپ مجهز
          توجه داشت. همچنین در برخی موارد، نیاز است که بر روی کارت، یادداشتی
          صورت گیرد؛ بنابراین جنس کاغذ و روکشی که برای آن انتخاب می‌شود باید
          بتواند این نیاز را فراهم سازد.
        </p>
      </div>
    </div>
  </section>
  <!-- 3 -->
  <section>
    <h2>Animated Card number 7</h2>
    
    <div class="cardholder" style="direction: rtl">
      <div class="cardbehindpic">
        <div class="content">
          <h2>مارول کارت</h2>
          <p>
            برای داشتن یک کارت ویزت باکیفیت، باید به نحوه ذخیره‌سازی فایل
            طراحی شده و میزان کیفیت نهایی آن و همچنین استفاده از دستگاه‌‌های
            چاپ مجهز توجه داشت. همچنین در برخی موارد،
          </p>
          <a href="#" class="crosseffect">ادامه مطلب</a>
        </div>
        <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/marvel.png" alt="" />
      </div>
    </div>
  </section>
  <!-- 4 -->
  <section>
    <h2>Animated Card number 8</h2>
    
    <div class="cardholder">
      <div class="cardnumbertoshow">
        <div class="face content">
          <h2>مارول کارت</h2>
          <p>
            برای داشتن یک کارت ویزت باکیفیت، باید به نحوه ذخیره‌سازی فایل
            طراحی شده و میزان کیفیت نهایی آن و همچنین استفاده از دستگاه‌‌های
            چاپ مجهز توجه داشت. همچنین در برخی موارد،
          </p>
          <a href="#" class="">ادامه مطلب</a>
        </div>

        <div class="face face2">
          <h2>88</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- 5 -->
  <section>
    <h2>Animated Card number 9</h2>
    
    <div class="cardholder">
      <div class="carddesignerbag">
        <div class="face1">
          <div class="imgbox">
            <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/designer.png" alt="" />
            <h2>Designer</h2>
          </div>
        </div>
        <div class="face2">
          <div class="content">
            <p>
              برای داشتن یک کارت ویزت باکیفیت، باید به نحوه ذخیره‌سازی فایل
              طراحی شده و میزان کیفیت نهایی آن و همچنین استفاده از دستگاه‌‌های
              چاپ مجهز توجه داشت. همچنین در برخی موارد،
            </p>
            <a href="#" class="">ادامه مطلب</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 6 -->
  <section>
    <h2>Animated Card number 10</h2>
    
    <div class="cardholder">
      <div class="cardpileofpic">
        <div class="imgbox">
          <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/person.jpg" alt="" />
        </div>
        <div class="content">
          <h2>امیرعلی</h2>
          <p>طراح کارت</p>
        </div>
      </div>
    </div>
  </section>
  <!-- 7 -->
  <section>
    <h2>Animated Card number 11</h2>
    
    <div class="cardholder">
      <div class="cardtitlesitsbottom">
        <div class="imgbox">
          <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/desk.jpg" alt="" />
        </div>
        <div class="content">
          <h2>طراحی کارت</h2>
          <p>
            برای داشتن یک کارت ویزت باکیفیت، باید به نحوه ذخیره‌سازی فایل
            طراحی شده و میزان کیفیت نهایی آن و همچنین استفاده از دستگاه‌‌های
            چاپ مجهز توجه داشت. همچنین در برخی موارد، نیاز است که بر روی کارت،
            یادداشتی صورت گیرد؛ بنابراین جنس کاغذ و روکشی که برای آن انتخاب
            می‌شود باید بتواند این نیاز را فراهم سازد.
          </p>
          <a href="#">ادامه مطلب</a>
        </div>
      </div>
    </div>
  </section>
  <!-- 8 -->
  <section>
    <h2>Animated Card number 12</h2>
    
    <div class="cardholder">
      <div class="cardsellitem">
        <div class="imgbox">
          <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/headphone1.png" alt="" />
        </div>
        <div class="content">
          <h3>
            هدفن بیسیم <br />
            190.000.000 ريال
          </h3>

          <a href="#">خرید</a>
        </div>
      </div>
    </div>
  </section>
  <!-- 9 -->
  <section>
    <h2>Animated Card number 13</h2>
    
    <div class="cardholder">
      <div class="cardsellitem2">
        <div class="imgbox">
          <img src="{% static '/protfolio/images/projects/animate/animate-card' %}/assets/shoes.png" alt="" />
        </div>
        <div class="content">
          <h2>کفش نایک</h2>
          <div class="sizing">
            <h3>سایز :</h3>
            <div>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
            </div>
          </div>
          <div class="color">
            <h3>رنگ :</h3>
            <div>
              <a href="#" class="red"></a>
              <a href="#" class="green"></a>
              <a href="#" class="blue"></a>
            </div>
          </div>
          <a href="#" class="btnbasket">خرید</a>
        </div>
      </div>
    </div>
  </section>

{% include 'protfolio/includes/footer.html'%}
