{% load static %} {% load i18n %} {% include 'protfolio/includes/head.html'%}
<link
  rel="stylesheet"
  href="{% static 'protfolio/css/project/animate/style-animate-buttons.css'%}"
/>

<div class="header-animated">
  <a href="{%url 'animate_project'%}" id="screweffect">Animated</a>
  <h1>-Buttons</h1>
</div>
{% comment %}
<div id="fh5co-main">
  {% endcomment %}
  <div class="buttons">
    <!-- 1 -->
    <a href="#" id="rotatebehind">Button 1</a>
    <!-- 2 -->
    <a href="#" id="swipeeffect">Button 2</a>
    <!-- 3 -->
    <a href="#" id="crosseffect">Button 3</a>
    <!-- 4 -->
    <a href="#" id="boldereffect">Button 4</a>
    <!-- 5 -->
    <a href="#" id="swipetext">Button 5</a>
    <!-- 6 -->
    <a href="#" id="shiningeffect">Button 6</a>
    <!-- 7 -->
    <a href="#" id="chessmove">Button 7</a>
    <!-- 8 -->
    <a href="#" id="landingeffect">Button 8</a>
    <!-- 9 -->
    <a href="#" id="balooneffect">Button 9</a>
    <!-- 10 -->
    <a href="#" id="calendereffect">Button 10</a>
    <!-- 11 -->
    <a href="#" id="replaceeffect">Button 11</a>
    <!-- 12 -->
    <a href="#" id="dotfill"><span></span>Button 12</a>
    <!-- 13 -->
    <a href="#" id="dooreffect">Button Number 13</a>
    <!-- 14 -->
    <a href="#" class="cool-button">Button 14</a>
    <!-- 15 -->
    <a href="#" class="crazy-button">
      <span>Button 15</span>
      <div class="particles"></div>
    </a>
    <!-- 16 -->
    <a href="#" id="blockcloser"><span></span>Button 16</a>
    <!-- 17 -->
    <a href="#" id="borderswip">Button 17</a>
    <!-- 18 -->
    <a href="#" id="borderextand">Button 18</a>
    <!-- 19 -->
    <a href="#" id="letereffect"><span>B</span>utton 19</a>
    <!-- 20 -->
    <a href="#" id="borderingeffect"><span></span>Button 20</a>
    <!-- 21 -->
    <a href="#" id="fillermiddle"><span></span>Button 21</a>
    <!-- 22 -->
    <a href="#" id="fillermiddle2">Button 22<span></span></a>
    <!-- 24 -->
    <a href="#" id="screweffect">Button 23</a>
    <!-- 25 -->
    <a href="#" id="justbutton">Button 24</a>
    <!-- 26 -->
    <a href="#" id="squarecloser">Button 25</a>
    <!-- 27 -->
    <a href="#" id="squarecloser2">Button 26</a>
    <!-- 28 -->
    <div class="neonlight">
      <a href="#">
        Button 27
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <!-- 29 -->
    <div class="neonlight2">
      <a href="#">
        Button 28
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <!-- 30 -->
    <div class="neonlight3">
      <a href="#">
        Button 29
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <!-- 31 -->
    <div class="glassyneon">
      <div class="btnglassyneon">
        <a href="#"> Button 30 </a>
      </div>
    </div>
  </div>

  {% include 'protfolio/includes/footer.html'%}
</div>
