{% load static %} {% load i18n %} {% include 'protfolio/includes/head.html'%}
<link
  rel="stylesheet"
  href="{% static 'protfolio/css/project/animate/style-animate-buttons-groups.css'%}"
/>
<div class="header-animated">
    <a href="{%url 'animate_project'%}" id="screweffect">Animated</a>
    <h1>-Btn group</h1>
  </div>
<!-- 1 -->
<section>
    <h2>Buttons group number 1</h2>
    
    <div class="simplborderline">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 2 -->
  <section>
    <h2>Buttons group number 2</h2>
    
    <div class="cornerpop">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 3 -->
  <section>
    <h2>Buttons group number 3</h2>
    
    <div class="kerkereeffect">
      <ul>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>Home</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            About</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Service</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Portfolio</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span><span></span><span></span><span></span>Contact</a
          >
        </li>
      </ul>
    </div>
    <!--3 B -->
    <div class="kerkereeffectB">
      <ul>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>Home</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            About</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Service</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Portfolio</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span><span></span><span></span><span></span>Contact</a
          >
        </li>
      </ul>
    </div>
    <!--3 C -->
    <div class="kerkereeffectC">
      <ul>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>Home</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            About</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Service</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Portfolio</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span><span></span><span></span><span></span>Contact</a
          >
        </li>
      </ul>
    </div>
    <!--3 D -->
    <div class="kerkereeffectD">
      <ul>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>Home</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            About</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Service</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Portfolio</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span><span></span><span></span><span></span>Contact</a
          >
        </li>
      </ul>
    </div>
  </section>
  <!-- 4 -->
  <section>
    <h2>Buttons group number 4</h2>
    
    <div class="underlinecolor">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- 4 B -->
    <div class="underlinecolorB">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 5 -->
   <section>
   <h2>Buttons group number 5</h2>
    
   <div class="zoomoneeffect">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 6 -->
   <h2>Buttons group number 6</h2>
    
   <div class="rolling2side">
      <ul>
        <li><a href="#"><span>Home</span><span>Home</span>Home</a></li>
        <li><a href="#"><span>About</span><span>About</span>About</a></li>
        <li><a href="#"><span>Service</span><span>Service</span>Service</a></li>
        <li><a href="#"><span>Portfolio</span><span>Portfolio</span>Portfolio</a></li>
        <li><a href="#"><span>Contact</span><span>Contact</span>Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 7 -->
    <section>
   <h2>Buttons group number 7</h2>
    
   <div class="sandwitcheffect">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 8 -->
   <section>
   <h2>Buttons group number 8</h2>
    
   <div class="digitaltargeteffect">
      <ul>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>Home</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            About</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Service</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span>
            <span></span>
            <span></span>
            <span></span>
            Portfolio</a
          >
        </li>
        <li>
          <a href="#"
            ><span></span><span></span><span></span><span></span>Contact</a
          >
        </li>
      </ul>
    </div>
  </section>
  <!-- 9 -->
   <section>
   <h2>Buttons group number 9</h2>
    
   <div class="borderrotor">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 10 -->
   <section>
   <h2>Buttons group number 10</h2>
    
   <div class="ghostout">
      <ul>
        <li><a href="#" data-text="Home">Home</a></li>
        <li><a href="#" data-text="About">About</a></li>
        <li><a href="#" data-text="Service">Service</a></li>
        <li><a href="#" data-text="Portfolio">Portfolio</a></li>
        <li><a href="#" data-text="Contact">Contact</a></li>
      </ul>
    </div>
  </section>
   <!-- 11 -->
   <section>
   <h2>Buttons group number 11</h2>
    
   <div class="backgrounchange">
      <ul>
        <li><a href="#" data-text="Home">Home</a></li>
        <li><a href="#" data-text="About">About</a></li>
        <li><a href="#" data-text="Service">Service</a></li>
        <li><a href="#" data-text="Portfolio">Portfolio</a></li>
        <li><a href="#" data-text="Contact">Contact</a></li>
      </ul>
    </div>
  </section>
  <!-- 12 -->
   <section>
   <h2>Buttons group number 12</h2>
    
   <div class="colorwriting">
      <ul>
        <li><a href="#" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a></li>
        <li><a href="#" data-text="&nbsp;About">&nbsp;About&nbsp;</a></li>
        <li><a href="#" data-text="&nbsp;Service">&nbsp;Service&nbsp;</a></li>
        <li><a href="#" data-text="&nbsp;Portfolio">&nbsp;Portfolio&nbsp;</a></li>
        <li><a href="#" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a></li>
      </ul>
    </div>
  </section>
  <!-- 13 -->
   <section>
   <h2>Buttons group number 13</h2>
    
   <div class="textintext">
      <ul>
        <li><a href="#" data-text="Home">Home</a></li>
        <li><a href="#" data-text="About">About</a></li>
        <li><a href="#" data-text="Service">Service</a></li>
        <li><a href="#" data-text="Portfolio">Portfolio</a></li>
        <li><a href="#" data-text="Contact">Contact</a></li>
      </ul>
    </div>
  </section>

{% include 'protfolio/includes/footer.html'%}
